:root {
  --base-color: #fff;
  --contrast-color: #00aeef;
  --text1: black;
  /* --text2: #707070; */
  --text2: #aca8a8;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.sectionHead {
  text-align: center;
  font-size: 2.5vmax;
  padding: 20px 10px;
}

.sectionHead span {
  color: var(--contrast-color);
}

header {
  background-color: var(--text1);
  width: 100vw;
  min-height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  padding: 0 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
}

header .wrapper .logo {
  flex-grow: 2;
  color: var(--contrast-color);
}

header .wrapper nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

header .wrapper nav a {
  text-decoration: none;
  color: var(--base-color);
  font-size: 18px;
}

header .wrapper nav a:hover {
  color: var(--contrast-color);
}


/* /////////////////// Hero section start */

.hero {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.63), rgba(224, 105, 105, 0.366), #0c121482), url(https://media.istockphoto.com/id/486309106/photo/evening-view-of-ama-dablam.jpg?s=612x612&w=0&k=20&c=nYB9IkZRtIHbew5p1acHiZXjxuIFKkC9fuXMwGrhf2w=) no-repeat center;

  background-size: cover;
  margin-top: 70px;


}

.hero .wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 40px;


}

.hero .wrapper h1 {
  font-size: 3.5vmax;
  text-align: center;
}

.hero .wrapper p {
  font-size: 24px;
  text-align: center;
  color: var(--text2);
  animation-delay: 1s;
}


.btn {
  display: flex;
  gap: 20px;
  animation-delay: 2s ;
}

button {
  border: none;
  padding: 1em 3em;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}



.btn-fill {
  background-color: var(--contrast-color);
  color: white;
}

.btn-fill:hover,
.btn-outline:hover {
  background-color: var(--text1);
  color: white;
}


/* /////////////////// Hero section end */
/* /////////////////// About section start */
.about {
  display: flex;
  gap: 40px;
  padding: 2em;
}

.about img,
.about .content {
  width: 45%;
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 30px;
}

.about .content p {
  line-height: 25px;
  color: var(--text2);
}

/* /////////////////// About section end */
/* /////////////////// Services section start */


.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);



}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-front img {
  object-fit: cover;
}

.flip-card-back {
  background-color: var(--contrast-color);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4em 2em;
  gap: 40px;
}

/* /////////////////// Services section end */
/* /////////////////// About 2 section start */

.btns {
  width: 100%;
}

.btns button {
  width: 45%;


}

@media only screen and (max-width:1500px) {
  .btns button {
    width: 45%;
    padding: 1em 2.5em;
    font-size: 14px;

  }
}


/* /////////////////// About 2 section end */
/* /////////////////// FAQ's section start */


.faq {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ques {
  padding: 2em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: black;
  color: white;
}

.ans {
  background-color: rgb(255, 255, 255);
  color: black;

  padding: 0;
  margin-top: 0;
  height: 0;
  opacity: 0;

  transition:
    opacity 0.5s ease-in-out,

    margin-top 0.5s ease-in-out,
    height 0.5s ease-in-out;

}

.ques:hover .ans {
  opacity: 1;
  padding: 2em;
  margin-top: 20px;
  height: auto;
}

/* /////////////////// FAQ's section end */
/* /////////////////// Footer section start */

.footer {
  background-color: var(--text1);
  margin-top: 50px;
  min-height: 400px;
  color: white;
  padding: 4em;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.child {
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.footer .tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */
  height: 220px;
}

.footer .tabs a {
  text-decoration: none;
  color: white;
}


.footer .content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
justify-content: space-between;
height: 220px;
}

.footer .content .form {
  display: flex;
  justify-content: flex-start;
}

.footer .content .form input {
  border: none;
  outline: none;
  width: 300px;
  padding: .7em;
  font-size: 18px;
}

.footer .content .form button {
  font-size: 16px;
  border-radius: 0;
}


.footer .icons a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer .icons a:hover {
  color: var(--contrast-color);
}

/* /////////////////// Footer section end */